/*======================================
PARTNERS
======================================*/

.partners{

    background:#080808;

    border-top:1px solid rgba(255,255,255,.06);

    border-bottom:1px solid rgba(255,255,255,.06);

    padding:34px 0;

}

.partners-container{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

}

.partner{

    flex:1;

    display:flex;

    justify-content:center;

    align-items:center;

    opacity:.55;

    transition:.35s;

}

.partner:hover{

    opacity:1;

}

.partner img{

    max-width:160px;

    width:50%;

    height:auto;

    filter:grayscale(100%) brightness(1.6);

    transition:.35s;

}

.partner:hover img{

    filter:none;

}